/* login form css */
h1 {

    text-align: center;
}

.container {
    border: 2px solid black;
    padding: 20px;
    max-width: 500px;
    max-height: 800px;
    margin: 0 auto;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

form {
    text-align: center;
    background-color: orangered;
}

button {
    background-color: green;
    margin-bottom: 20px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
}